.classh1{   
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 40px;
    text-align: center;
}

.f
.i 
.homepage{
    
    font-family: Helvetica, "Times New Roman", sans-serif;
    font-size: 29px;
}

.f{
    background-color: #000000;
    color: rgb(255, 255, 255)
}

.i{
    background-color: yellow;
}

.homepage{
    background-color: rgb(255, 212, 212);
    color: rgb(255, 255, 255);
}







